[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "==1.22.0"
build = "*"

[dev-packages]
black = "*"
twine = "*"
sphinx = "*"
packaging = "*"

[requires]
python_version = "3.11"
